<style>
  .logout-link {
    position: absolute;
    top: 30px;
    right: 30px;
  }
</style>

<h1>HomePage</h1>

  <%= link_to 'Time Fitness Records', times_record_path %><br>

  <%= link_to 'Create a New Times Fitness Record', create_times_record_path %>

  <%= link_to 'Logout', logout_path, method: :get, class: 'logout-link' %>



