<HTML>
<HEAD>
<TITLE>Forms Examples</TITLE>

<STYLE TYPE="text/css">
/* CH class is ColoredHeads */
all.CH {color:#40C080;}
</STYLE>
</HEAD>

<BODY BGCOLOR=white>

<!--
<H1 CLASS=CH> S&E Notebook </H1>
-->

<BR>
<HR>
<h1> <%= @account %>'s workout records </h1>

<% @record_txt.each do |record| %>
  <%= record %><br>
<% end %>



<BR>
<HR>